<!DOCTYPE html>
<html>

<head>
<title>Edit Product</title>
</head>

<body>

<h2>Edit Product</h2>

<form method="POST">

Name
<input type="text" name="name" value="{{item.name}}"><br><br>

Price
<input type="text" name="price" value="{{item.price}}"><br><br>

Category
<input type="text" name="category" value="{{item.category}}"><br><br>

Description
<textarea name="description">{{item.description}}</textarea><br><br>

<button type="submit">Update</button>

</form>

</body>
</html>